export OPENAI_API_KEY="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"
export OPENAI_BASE_URL="https://openrouter.ai/api/v1"
export OPENAI_MODEL="qwen/qwen3-coder"



GEMINI APIK KEY : AIzaSyAdTUeGQVEavPUaszT9RuSShGBhktDqmDE